# OS / editor
.DS_Store
Thumbs.db
.vscode/

# Don't commit media uploads (usually huge)
uploads/

# Don't commit caches (adjust to your plugins)
cache/
upgrade/
ai1wm-backups/
wp-rocket-config/
*.log

# If you use vendor/node modules inside themes/plugins
node_modules/
vendor/
dist/
